body{
    margin: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#designText{
    display: none;
}

#developmentText{
    display: none;
}

#projectMgtText{
    display: none;
}

@media only screen and (max-width:768px){
    .row{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #whatWeDo{
        display: flex;
        flex-direction: column;
    }
}