body{
    margin: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#designText{
    display: none;
}

#developmentText{
    display: none;
}

#projectMgtText{
    display: none;
}

::placeholder{
    /* border: 1px solid #fff; */
    color: #fff;
}

input, textarea{
    border: 1px solid #fff;
    /* outline: none; */
}


#msg{
    height: 30vh;
}

@media only screen and (max-width:768px){
    .row{
        display: flex;
        /* align-items: center; */
        flex-direction: column;
    }
    #whatWeDo{
        display: flex;
        flex-direction: column;
    }
}

/* What we do section for screens more than 768px */
@media only screen and (min-width:768px){
    #design, #projectMgt, #development{
        width: 33.33%;
    }
}